In [1]:
# 10, 20, 30, 40 elementlərindən ibarət s1 adlı series/vector yaradın
import pandas as pd
s1 = pd.Series([10, 20, 30, 40])
print(s1)

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
# s1-ə 'w', 'x', 'y', 'z' indekslərini təyin edin
import pandas as pd
s1 = pd.Series([10, 20, 30, 40], index=['w', 'x', 'y', 'z'])
print(s1)

w    10
x    20
y    30
z    40
dtype: int64

In [8]:
s1.index = ['w', 'x', 'y', 'z']
print(s1)

w    10
x    20
y    30
z    40
dtype: int64

In [9]:
#Python: {'p': 5, 'q': 10, 'r': 15} dictionary-dən s2 adlı Series yaradın
import pandas as pd
dictt = {'p': 5, 'q': 10, 'r': 15}
s2 = pd.Series(dictt)
print(s2)

p     5
q    10
r    15
dtype: int64

In [10]:
#s2-dən 'q' indeksli elementi seçin
q_element = s2['q']
q_element

10

In [13]:
#s1-dən 25-dən böyük elementləri seçin
result = s1[s1 > 25]
result

y    30
z    40
dtype: int64

In [14]:
#s1-də 20-dən böyük elementləri 10-a bölün
s1[s1 > 20] = s1[s1 > 20] / 10
s1

w    10
x    20
y     3
z     4
dtype: int64

In [16]:
#((1, 2), (3, 4)) listindən/vectorundan df1 adlı dataframe yaradın
import pandas as pd
data = [(1, 2), (3, 4)]
df1 = pd.DataFrame(data)
df1

   0  1
0  1  2
1  3  4

In [17]:
#8) df1-ə ('r1', 'r2') sətir və ('c1', 'c2') sütun adlarını təyin edin
df1 = pd.DataFrame(data, columns=['c1', 'c2'], index=['r1', 'r2'])
df1

    c1  c2
r1   1   2
r2   3   4

In [18]:
#Python: {'A': [1, 2], 'B': [3, 4]} dictionary-dən df2 yaradın
data = {'A': [1, 2], 'B': [3, 4]}
df2 = pd.DataFrame(data)
df2

   A  B
0  1  3
1  2  4